version: '3'
services:
  laravel:
    build: ./docker/dev
    image: whitetumbler-dev:latest
    ports:
      - 8081:80
    volumes:
      - './:/var/www'
  postgres:
    image: postgres:12.3-alpine
    environment:
      POSTGRES_PASSWORD: 5ecr3t
      POSTGRES_USER: dev
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./docker/postgres/init_extensions.sql:/docker-entrypoint-initdb.d/init_extensions.sql